
html {
    width: auto;
    background-color: rgb(241, 241, 248);
    font-size: medium;
    font: 100;
    color:rgb(40, 150, 40);
}
p {
    color:blue;
    background-color:white;
}
img{
    width:100%;
    height:auto;
}